.example-designer-tool{
  .el-button--small{
    font-size: 14px;
  }
}

.example-builder-footer{
  .el-button--small{
    font-size: 14px;
  }
}

.example-remove-confirm strong{
  margin: 0 2px;

  &[danger]{
    color: #F56C6C;
  }

  &[info]{
    color: #409EFF;
  }
}