.xform-viewer{
  font-size: var(--xform-font-size);
  color: var(--xform-text-color);
  background-color: #fff;
  margin: 0 auto;
  padding: 0 10px;
}

.xform-viewer .xform-item-label > span:before{
  content: none !important;
}

.xform-viewer-value{
  line-height: 21px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}