/* ================================= [markdown-it-container] ================================= */
.md-container{
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 1px;
}

.md-container-title{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px 0;
  line-height: 20px;
}

.md-container > *:last-child{
  margin-bottom: 0 !important;
}

.md-container-tip{
  background-color: #e6f7ff;
}

.md-container-warning{
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900;
}

/* .doc-container-warning .doc-container-title{
  color: #b29400;
} */

.md-container-danger{
  background-color: #f8d7da;
  color: #721c24;
}

/* .doc-container-danger .doc-container-title{
  color: #721c24;
} */
/* ================================= [markdown-it-container] ================================= */
