.xform-designer{
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  font-size: 14px;
  color: var(--xform-text-color);
}

.xform-is-scroll{
  overflow: auto;
}

.xform-is-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.xform-is-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.xform-is-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.5);
}

.xform-is-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 200, 200)
}

.xform-designer-panel{
  border-right: 1px solid #eee;
  background-color: #fff;
  overflow: auto;
}

.xform-designer-main{
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  user-select: none;
}

.xform-designer-scroll{
  padding: 10px;
  flex: 1;
}

.xform-designer-list{
  padding: 0 5px;
  box-sizing: border-box;
  position: relative;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
  border: 1px dashed #ccc;
  min-height: 100%;
}

.xform-designer-field-group h3{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0 10px;
}

.xform-designer-field-list{
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
  user-select: none;
}

.xform-designer-field{
  box-sizing: border-box;
  position: relative;
  width: 145px;
  height: 32px;
  line-height: 24px;
  margin: 10px 0 0 0;
  padding: 4px 24px 4px 8px;

  font-size: 13px;
  text-align: left;

  border-radius: 2px;
  border: 1px solid var(--xform-color-primary-lighten);
  background-color: var(--xform-color-primary-lighten);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: move;
  user-select: none;
  transition: border-color ease .3s;
}

.xform-designer-field > span{
  font-weight: 600;
}

.xform-designer-field .xform-icon{
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 2px;
  text-align: center;
}

.xform-designer-field .xform-icon.xform-icon-is-img{
  width: 20px;
  height: 20px;
}

.xform-icon.xform-icon-is-svg svg{
  display: block;
  width: 20px;
  height: 20px;
}

.xform-designer-field:hover{
  border-style: dashed;
  border-color: var(--xform-color-primary);
}

.xform-preview{
  position: relative;
  margin: 5px 0;
  padding: 5px;
  border: 1px dashed transparent;
  transition: border-color ease .3s, background-color ease .3s;
}

.xform-preview .xform-item-top .xform-item-label{
  padding-top: 0;
}

.xform-preview:hover,
.xform-preview.xform-is-selected{
  border-color: var(--xform-color-primary);
}

.xform-preview.xform-is-selected{
  border-style: solid;
  outline: var(--xform-color-primary) solid 1px;
}

.xform-preview.xform-is-dragging{
  border-color: transparent;
  outline: none !important;
}

.xform-preview.xform-is-dragging > .xform-preview-addition > .xform-preview-cover{
  background-color: #ddd !important;
  opacity: .75 !important;
}

.xform-preview.xform-is-dragging > .xform-preview-addition{
  z-index: 10;
}

.xform-preview-addition{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.xform-preview-addition:hover > .xform-preview-cover,
.xform-is-selected > .xform-preview-addition > .xform-preview-cover{
  background-color: var(--xform-color-primary);
}

.xform-is-selected > .xform-preview-addition .xform-preview-operate{
  display: block;
}

.xform-preview-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  cursor: move;
  opacity: .175;
}

.xform-preview-operate{
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 9;
}

.xform-preview-operate > button{
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;

  border: none;
  background-color: var(--xform-color-primary);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.xform-preview-operate > button > svg{
  width: 16px;
  height: 16px;
  fill: #fff;
}
  
.xform-designer-ghost{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(125, 125, 125, 0.25);
  user-select: none;
  display: none;
}

.xform-designer-ghost.xform-is-show{
  display: block;
}

.xform-designer-ghost-template > * {
  margin: 0;
}

.xform-designer-ghost.xform-is-not-allowed .xform-designer-cover{
  background-color: #fff;
  opacity: .35;
  cursor: not-allowed;
}

.xform-designer-ghost .xform-designer-field{
  border: none;
}

.xform-designer-ghost .xform-designer-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: move;
}

.xform-preview-tip{
  padding: 150px 0;
}

.xform-preview-tip > img{
  display: block;
  width: 320px;
  margin: 0 auto;
}

.xform-preview-tip > p{
  margin: 10px 0 0 0;
  text-align: center;
  color: #9a9a9a;
  font-size: 15px;
  font-weight: 600;
}

.xform-designer-mark{
  display: none;
  position: relative;
  margin: 5px 0;
  height: 3px;
  background-color: red;
  z-index: 10;
}

.xform-designer-mark::after,
.xform-designer-mark::before{
  content: "";
  position: absolute;
  
  top: -5px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  z-index: 10;
}

.xform-designer-mark::before{
  left: 0;
  border-left: 4px solid red;
}

.xform-designer-mark::after{
  right: 0;
  border-right: 4px solid red;
}

.xform-is-silence .xform-designer-mark{
  display: block;
}

.xform-is-silence .xform-preview-operate{
  display: none !important;
}

.xform-is-silence .xform-preview{
  outline: none;
  border-color: transparent !important;
}

.xform-is-silence .xform-preview.xform-is-selected > .xform-preview-addition > .xform-preview-cover{
  background-color: transparent;
}

.xform-is-silence .xform-preview-tip{
  display: none;
}

.xform-is-silence.xform-designer-list.xform-is-empty{
  border: 1px dashed;
  min-height: 100%;
}

/** xform setting */
.xform-designer-setting{
  min-width: 360px;
  height: 100%;
  border-left: 1px solid transparent;
  overflow: hidden;
  background-color: #fff;
  border-color: #eee;
  box-sizing: content-box;
}

.xform-setting-tip{
  padding-top: 180px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #9a9a9a;
}

.xform-setting-head{
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-weight: 700;
}

.xform-setting{
  margin-top: 10px;
}

.xform-setting > header{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.xform-tabs{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  line-height: 38px;
  height: 38px;
}

.xform-tabs li{
  flex: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #eee;
}

.xform-tabs-main{
  height: calc(100% - 38px);
  box-sizing: border-box;
  width: 360px;
  overflow-x: hidden;
}

.xform-tabs li.xform-is-active{
  color: var(--xform-color-primary);
  border-color: var(--xform-color-primary);
}

.xform-designer-setting-field{
  padding: 10px;
  height: 100%;
}

.xform-tabs-content{
  padding: 10px;
}

.xform-setting-inline{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.xform-setting-inline-item{
  margin-right: 10px;
}

.xform-is-scope .xform-preview{
  z-index: 9;
}