.xform-setting + .xform-setting{
  margin-top: 10px;
}

.xform-setting header{
  font-weight: 700;
}

.xform-el-setting-option{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 5px;

  .el-button{
    margin-left: 5px;
  }
}