.xform-setting + .xform-setting{
  margin-top: 10px;
}

.xform-setting header{
  font-weight: 700;
}

.xform-el-setting-option{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 5px;

  .el-button{
    margin-left: 5px;
  }
}

.xform-el-empty-tip{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 600;
}
