.xform-is-scroll{
  overflow: auto;
  scrollbar-color: rgba(200, 200, 200, 0.5) #f5f5f5;
  scrollbar-width: thin;
}

.xform-is-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.xform-is-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.xform-is-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.5);
}

.xform-is-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 200, 200)
}

.xform-is-hidden{
  display: none !important;
}