:root{
  --doc-color-primary: rgb(0,123,255);

  --doc-text-color-primary: rgb(36, 41, 46);
  --doc-head-text-color: rgb(33, 36, 51);

  --doc-link-color: rgb(0,123,255);
  --doc-link-hover-bg-color: rgba(0, 76, 252, .1);

  --doc-main-width: 1180px;
}
