.article > h3{
  font-style: italic;
}

.article-toc{
  position: fixed;
  width: 180px;
  margin: 0;
  padding-left: 34px;
}

.article-toc > li{
  height: 20px;
  line-height: 20px;
}

.article-toc > li.active{
  border-left-color: var(--doc-color-primary);
}

.article-toc > li.active a{
  color: var(--doc-link-color) !important;
}

.article-toc > li + li{
  margin-top: 5px;
}

.article-toc > li > a:link,
.article-toc > li > a:visited{
  color: #333;
}

.article-toc > li > a:hover{
  color: var(--doc-link-color);
}

.article-anchor{
  float: left;
  margin-left: -15px !important;
}

.article-anchor:hover{
  background-color: transparent;
  border-bottom-color: transparent;
}

.article-sticky-heading{
  position: sticky;
  top: 45px;
  background-color: #fff;
  z-index: 9;
}

.event-table th:nth-child(1){
  width: 160px;
}

.event-table th:nth-child(2){
  width: 180px;
}

/* ================================= [markdown-it-container] ================================= */
.md-container{
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 1px;
}

.md-container-title{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px 0;
  line-height: 20px;
}

.md-container > *:last-child{
  margin-bottom: 0 !important;
}

.md-container-tip{
  background-color: #e6f7ff;
}

.md-container-warning{
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900;
}

/* .doc-container-warning .doc-container-title{
  color: #b29400;
} */

.md-container-danger{
  background-color: #f8d7da;
  color: #721c24;
}

/* .doc-container-danger .doc-container-title{
  color: #721c24;
} */
/* ================================= [markdown-it-container] ================================= */
