::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track{
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 214, 217, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(211, 214, 217);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif, Apple Color Emoji,Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.6;
  color: var(--doc-text-color-primary);
  -webkit-tap-highlight-color: rgba(26,26,26,0);
}

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  
  transition: border-bottom-color ease .3s, background-color ease .3s;
}

a:link,
a:visited{
  color: var(--doc-link-color);
}

a:hover {
  text-decoration: none;
  color: var(--doc-link-color);
  border-bottom-color: var(--doc-link-color);
  background-color: var(--doc-link-hover-bg-color);
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

[hidden] {
  display: none !important;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

pre{
  margin: 10px 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 10px 0;
  padding: 5px 0;
  color: var(--doc-head-text-color);
  font-weight: 600;
}

h1{
  padding: 0;
  line-height: 24px;
  font-size: 24px;
  margin: 0 0 20px 0;
}

h2{
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

h3{
  font-size: 16px;
}

ul{
  margin: 0 0 15px 0;
  padding-left: 34px;
}

ul > li + li{
  margin-top: 4px;
}

ul.doc-ul{
  list-style: none;
}

ul.doc-ul > li{
  position: relative;
}

ul.doc-ul > li::before{
  content: '';
  position: absolute;
  top: 9px;
  left: -20px;
  width: 6px;
  height: 6px;
  background-color: #191f2f;
  border-radius: 50%;
  transition: background-color ease .3s;
}

ul.doc-ul > li:hover::before{
  background-color: var(--doc-color-primary);
  box-shadow: 0 0 4px rgba(0, 123, 255, .5);
}

code:not(.hljs-code){
  color: #e45649;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  margin: 0 2px;
}

md-meta{
  display: none;
}

iframe{
  border: none;
  display: block;
  width: 100%;
}

code-box{
  display: block;
  position: relative;
  margin: 10px 0;
}

table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th{
  text-align: left;
}

table thead{
  background-color: #f5f5f5;
}

table tbody tr + tr{
  border-top: 1px dashed #e5e5e6;
}

table td,
table th{
  padding: 8px;
  line-height: 24px;
}

blockquote{
  color: #999;
  border-left: 4px solid #dfe2e5;
  margin: 1rem 0;
  padding: 8px 10px 8px 20px;
  margin: 15px 0
}

blockquote > p{
  margin: 0;
}

img{
  max-width: 100%;
}