.xform-item{
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}

.xform-item + .xform-item{
  margin-top: 10px;
}

.xform-item.xform-template{
  padding: 8px;
}
  
.xform-item.xform-is-required .xform-item-label{
  font-weight: 700;
}
.xform-item.xform-is-required .xform-item-label > span:before{
  content: "*";
  position: absolute;
  top: 0;
  left: -10px;
  color: var(--xform-color-danger);
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.xform-item-left .xform-item-label{
  text-align: left;
}

.xform-item-right .xform-item-label{
  text-align: right;
}

.xform-item-top{
  flex-direction: column;
}

.xform-item-top .xform-item-label{
  width: auto !important;
  padding-bottom: 5px;
  padding: 8px 0 5px 0;
  
}

.xform-item-label{
  box-sizing: border-box;
  width: 120px;
  padding: 5px 10px 0 10px;  
  line-height: 20px;
  word-break: break-all;
}
.xform-item-label > span{
  position: relative;
}

.xform-item-content{
  box-sizing: border-box;
  width: 0;
  flex: 1;
  line-height: 24px;
  min-height: 32px;
}

i.xform-item-help-icon{
  font-size: 14px;
  margin-left: 2px;
  color: #909399;
  cursor: help;
}

pre.xform-item-help-content{
  margin: 0;
  font-family: inherit;
  line-height: 1.25;
  white-space: pre-line;
  max-width: 480px;
  max-height: 320px;
  overflow: auto;
}

.xform-is-error .xform-item-control{
  border-color: var(--xform-color-danger);
}

.xform-is-error .xform-item-message{
  color: var(--xform-color-danger);
}

.xform-item-message{
  color: #606266;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}