.xform-designer{
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  font-size: var(--xform-font-size);
  color: var(--xform-text-color);
}

.xform-designer-panel{
  border-right: 1px solid var(--xform-border-color);
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
  width: 320px;
}

.xform-designer-main{
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  user-select: none;
}

.xform-designer-responsive{
  height: 100%;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.05);
}

.xform-is-pc{
  max-width: 640px;
  margin: 0 auto;
}

.xform-designer-board{
  padding: 10px;
  flex: 1;
  overflow: hidden;
  background-color: #f8f8f9;
}

.xform-designer-list{
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

.xform-designer-field-group h3{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0 10px;
}

.xform-designer-field-list{
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
  user-select: none;
}

.xform-designer-field{
  box-sizing: border-box;
  position: relative;
  width: 145px;
  height: 32px;
  line-height: 24px;
  margin: 10px 0 0 0;
  padding: 4px 24px 4px 8px;

  font-size: 13px;
  text-align: left;

  border-radius: 2px;
  border: 1px solid var(--xform-color-primary-lighten);
  background-color: var(--xform-color-primary-lighten);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: move;
  user-select: none;
  transition: border-color ease .3s;
}

.xform-designer-field > span{
  font-weight: 600;
}

.xform-designer-field .xform-icon{
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 2px;
  text-align: center;
}

.xform-designer-field .xform-icon.xform-icon-is-img{
  width: 20px;
  height: 20px;
}

.xform-icon.xform-icon-is-svg svg{
  display: block;
  width: 20px;
  height: 20px;
}

.xform-designer-field:hover{
  border-style: dashed;
  border-color: var(--xform-color-primary);
}

.xform-preview{
  position: relative;
  padding: 5px;
  border: 1px dashed #ccc;
  transition: border-color ease .3s, background-color ease .3s;
}

.xform-preview.xform-is-preview-hidden .xform-item{
  position: relative;
}

.xform-preview + .xform-preview{
  margin-top: 5px;
}

.xform-preview .xform-item-top .xform-item-label{
  padding-top: 0;
}

.xform-preview.xform-is-preview-hidden .xform-preview-cover{
  background-color: #fdc45c;
}

.xform-preview:hover,
.xform-preview.xform-is-selected{
  border-color: var(--xform-color-primary);
}

.xform-preview.xform-is-selected{
  border-style: solid;
  outline: var(--xform-color-primary) solid 1px;
}

.xform-preview-cover:hover,
.xform-preview.xform-is-selected > .xform-preview-cover{
  background-color: var(--xform-color-primary);
}

.xform-is-selected > .xform-preview-operate{
  display: block;
}

.xform-preview-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  cursor: move;
  opacity: .175;
}

.xform-preview-operate{
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
}

.xform-preview-operate > button{
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;

  border: none;
  background-color: var(--xform-color-primary);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.xform-preview-operate > button > svg{
  width: 16px;
  height: 16px;
  fill: #fff;
}
  
.xform-designer-ghost{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(125, 125, 125, 0.25);
  user-select: none;
  display: none;
}

.xform-designer-ghost.xform-is-show{
  display: block;
}

.xform-designer-ghost-template > * {
  margin: 0;
}

.xform-designer-ghost.xform-is-not-allowed .xform-designer-cover{
  background-color: #fff;
  opacity: .35;
  cursor: not-allowed;
}

.xform-designer-ghost .xform-designer-field{
  border: none;
}

.xform-designer-ghost .xform-designer-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: move;
}

.xform-preview-empty-tip{
  padding: 150px 0;
}

.xform-preview-empty-tip > img{
  display: block;
  width: 320px;
  margin: 0 auto;
}

.xform-preview-empty-tip > p{
  margin: 10px 0 0 0;
  text-align: center;
  color: #9a9a9a;
  font-size: 15px;
  font-weight: 600;
}

.xform-designer-mark{
  display: none;
  position: relative;
  height: 0;
}

.xform-designer-mark:not(:first-child) + .xform-preview{
  margin-top: 5px;
}

.is-vertical-mark .xform-designer-mark:not(:first-child) + .xform-preview{
  margin-top: 0;
  margin-left: 5px;
}

.xform-designer-mark > hr{
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  padding: 5px 0;
  height: 3px;
  margin: 0 auto;
  background: linear-gradient(to bottom, transparent 5px, var(--xform-designer-mark-color) 5px, var(--xform-designer-mark-color) 8px, transparent 8px);
  z-index: 10;
  box-sizing: content-box;
  border: none;
}

.xform-designer-mark > hr::after,
.xform-designer-mark > hr::before{
  content: "";
  position: absolute;
  
  top: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  z-index: 10;
}

.xform-designer-mark > hr::before{
  left: 0;
  border-left: 4px solid var(--xform-designer-mark-color);
}

.xform-designer-mark > hr::after{
  right: 0;
  border-right: 4px solid var(--xform-designer-mark-color);
}

.is-vertical-mark .xform-designer-mark{
  width: 0;
  height: 100%;
}

.is-vertical-mark .xform-designer-mark > hr{
  left: -4px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 3px;
  padding: 0 5px;
  margin: 0;
  background: linear-gradient(to right, transparent 5px, red 5px, red 8px, transparent 8px);
}

.is-vertical-mark .xform-designer-mark > hr::after,
.is-vertical-mark .xform-designer-mark > hr::before{
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  left: 0;
}

.is-vertical-mark .xform-designer-mark > hr::before{
  top: 0;
  border-top: 4px solid red;
}

.is-vertical-mark .xform-designer-mark > hr::after{
  bottom: 0;
  border-bottom: 4px solid red;
}

.xform-is-silence .xform-designer-mark{
  display: block;
}

.xform-is-silence .xform-preview-operate{
  display: none !important;
}

.xform-is-silence .xform-preview{
  outline: none;
  border-color: #ccc;
}

.xform-is-silence .xform-preview > .xform-preview-cover{
  background-color: transparent !important ;
}

.xform-is-silence .xform-preview.xform-is-dragging{
  border-color: #6c757d !important; 
}

.xform-is-silence .xform-preview.xform-is-dragging > .xform-preview-cover{
  background-color: rgba(255, 255, 0, .075) !important;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 40%, #6c757d 40%, #6c757d 50%);
  background-size: 8px 8px;
  opacity: 1;
  z-index: 9;
}

.xform-designer-mark ~ .xform-is-empty-tip{
  display: none;
}

/** xform setting */
.xform-designer-setting{
  width: 360px;
  height: 100%;
  border-left: 1px solid var(--xform-border-color);
  overflow: hidden;
  background-color: #fff;
  box-sizing: content-box;
}

.xform-setting-tip{
  padding-top: 180px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #9a9a9a;
}

.xform-tabs{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  line-height: 38px;
  height: 38px;
}

.xform-tabs li{
  flex: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid var(--xform-border-color);
}

.xform-tabs-main{
  height: calc(100% - 38px);
  box-sizing: border-box;
  width: 360px;
  overflow-x: hidden;
}

.xform-tabs li.xform-is-active{
  color: var(--xform-color-primary);
  border-color: var(--xform-color-primary);
}

.xform-designer-setting-field{
  padding: 10px;
  height: 100%;
}

.xform-tabs-content{
  padding: 10px;
}

.xform-is-scope .xform-preview{
  z-index: 9;
}

.xform-designer-setting [title]{
  cursor: help;
}