@import '../../assets/style/document/highlight.css';

.code-box-root pre{
  margin: 0;
}

.code-box-root:hover .toolbox > button{
  visibility: visible;
}

.toolbox{
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.toolbox button{
  visibility: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(0,123,255);
}
